mat-table {
    width: 1000px;
}

@media(min-width: 1024px) {
    mat-table {
        width: 100%;
    }

    .highlight {
        background: none;
    }
}

mat-form-field {
    max-width: 400px;
    width: 100%;
}

mat-header-cell, mat-cell {
    justify-content: center;
    font-size: 12px;
  }

mat-cell:nth-child(3),
mat-header-cell:nth-child(3) {
    flex: 0 0 8%;
}

mat-cell:nth-child(5),
mat-header-cell:nth-child(5) {
    flex: 0 0 8%;
}

mat-cell:nth-child(6),
mat-header-cell:nth-child(6) {
    flex: 0 0 8%;
}

mat-cell:nth-child(7),
mat-header-cell:nth-child(7) {
    flex: 0 0 8%;
}

mat-cell:nth-child(8),
mat-header-cell:nth-child(8) {
    flex: 0 0 8%;
}