<h1 mat-dialog-title>{{data.title}}</h1>
<form mat-dialog-content [formGroup]="frmDevice" (ngSubmit)="PostDevice()">
    <div class="row">
        <div class="col-xs-12">
            <mat-card>
              <p>CARGA MASIVA</p>
              <input type="file" (change)="onFileChange($event)" accept=".xlsx, .xls" />
              <button mat-button color="primary" type="button" (click)="DivicesAll()">Cargar</button>
            </mat-card>
          </div>
        
    </div>
    <div class="row">
        <div class="col-xs">
            <mat-form-field appearance="outline">
                <mat-label>Tipo Equipo</mat-label>
                <input type="text" matInput [matAutocomplete]="auto2" [formControl]="controlType"  formControlName="uiTipoEquipo" autocomplete="off">
                <mat-autocomplete #auto2="matAutocomplete">
                    <mat-option *ngFor="let type of filteredOpType | async" [value]="type.uiRegistro + '-' + type.sNombre">
                        {{type.sNombre}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>&nbsp;&nbsp;
        </div>
        <div class="col-xs">
            <mat-form-field appearance="outline">
                <mat-label>Marca</mat-label>
                <input type="text" matInput [matAutocomplete]="auto1" [formControl]="controlMarca"  formControlName="uiMarca" autocomplete="off">
                <mat-autocomplete #auto1="matAutocomplete">
                    <mat-option *ngFor="let marca of filteredOpMarca | async" [value]="marca.uiRegistro + '-' + marca.sNombre">
                        {{marca.sNombre}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>&nbsp;&nbsp;
        </div>
        <div class="col-xs">
            <mat-form-field appearance="outline">
                <mat-label>Modelo</mat-label>
                <input type="text" matInput [matAutocomplete]="auto3" [formControl]="controlModel"  formControlName="uiModelo" autocomplete="off">
                <mat-autocomplete #auto3="matAutocomplete">
                    <mat-option *ngFor="let model of filteredOpModel | async" [value]="model.uiRegistro + '-' + model.sNombre">
                        {{model.sNombre}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>&nbsp;&nbsp;
        </div>
        <div class="col-xs">
            <mat-form-field appearance="standard">
                <mat-label>Serie</mat-label>
                <input matInput formControlName="sSerie" onkeyup="javascript:this.value=this.value.toUpperCase();">
            </mat-form-field>
        </div>
        <div class="col-xs">
            <mat-form-field appearance="standard">
                <mat-label>Placa</mat-label>
                <input matInput formControlName="sPlaca" onkeyup="javascript:this.value=this.value.toUpperCase();">
            </mat-form-field>
        </div>
    </div>
    <br>
    <section>
        <div formArrayName="details" >
            <ng-container *ngFor="let phoneform of details.controls; let i = index">
                <div class="row" [formGroupName]="i">
                    <div class="col-xs">
                        <mat-form-field appearance="outline">
                            <mat-label>Tipo Equipo</mat-label>
                            <input type="text" matInput [matAutocomplete]="auto2" [formControl]="controlType"  formControlName="uiTipoEquipo" autocomplete="off">
                            <mat-autocomplete #auto2="matAutocomplete">
                                <mat-option *ngFor="let type of filteredOpType | async" [value]="type.uiRegistro + '-' + type.sNombre">
                                    {{type.sNombre}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>&nbsp;&nbsp;
                    </div>
                    <div class="col-xs">
                        <mat-form-field appearance="outline">
                            <mat-label>Marca</mat-label>
                            <input type="text" matInput [matAutocomplete]="auto1" [formControl]="controlMarca"  formControlName="uiMarca" autocomplete="off">
                            <mat-autocomplete #auto1="matAutocomplete">
                                <mat-option *ngFor="let marca of filteredOpMarca | async" [value]="marca.uiRegistro + '-' + marca.sNombre">
                                    {{marca.sNombre}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>&nbsp;&nbsp;
                    </div>
                    <div class="col-xs">
                        <mat-form-field appearance="outline">
                            <mat-label>Modelo</mat-label>
                            <input type="text" matInput [matAutocomplete]="auto3" [formControl]="controlModel"  formControlName="uiModelo" autocomplete="off">
                            <mat-autocomplete #auto3="matAutocomplete">
                                <mat-option *ngFor="let model of filteredOpModel | async" [value]="model.uiRegistro + '-' + model.sNombre">
                                    {{model.sNombre}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>&nbsp;&nbsp;
                    </div>
                    <div class="col-xs">
                        <mat-form-field appearance="standard">
                            <mat-label>Serie</mat-label>
                            <input matInput formControlName="sSerie" onkeyup="javascript:this.value=this.value.toUpperCase();">
                        </mat-form-field>
                    </div>
                    <div class="col-xs">
                        <mat-form-field appearance="standard">
                            <mat-label>Placa</mat-label>
                            <input matInput formControlName="sPlaca" onkeyup="javascript:this.value=this.value.toUpperCase();">
                        </mat-form-field>
                    </div>
                </div>
            </ng-container>
        </div>
    </section>
    <div class="row">
        <!-- <div class="col-xs"></div> -->
        <div class="col-xs center-xs">
            <button type="button" (click)="AddDetail()" mat-raised-button color="accent">
                Agregar Dispositivo <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
    <div mat-dialog-actions class="end-xs sticky">
        <button type="submit" mat-raised-button color="accent" [disabled]="frmDevice.invalid">Guardar</button>
        <button type="button" mat-raised-button (click)="dialogref.close()" color="accent">Cerrar</button>
    </div>
</form>
