input::-webkit-calendar-picker-indicator {
    display:none !important;
  }

.mat-elevation-z8 {
  padding: 20px;
}

.oculto {
  display: none;
}

.visible {
  display: auto;
}

.mat-mini-fab {
  margin-left: 10px !important;
}